<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title Jeu
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")  
        link(rel="stylesheet", href="css/style.css") 
    body
               
          #gameIntro.row.justify-content-center
            div.col-8
              - var sessionOtherId = otherId
              .jumbotron
                .h4 Bonjour #{pseudo}!            
                p.lead.text-justify.mt-3 Ton anglais technique déchire ? Teste-le   avec un quiz contre d'autres joueurs. Le premier qui trouve le mot  répondant à la définition proposée marque 1 point. Et qui c'est-y qui gagne ? Celui qui a le plus de points après 10 tours. 

                form(id="playForm" method="POST")
                  input.invisible(type="text", name="sessionOtherId",   id="sessionOtherId" value=sessionOtherId) 
                  button.btn.btn-info.mt-3(type="submit") On y va?  

          #game.row.m-3           
            .col-5.p-3                
              .h4 Parties jouées  
              table#gamesList.table
              .h4 Joueurs connectés 
              #connections.overflow-auto.list-group.list-group-flush  
              .h4 Activité
              #tracking.overflow-auto  

            
            #gameOverview.col.m-3                            
              .h4 Salles de jeu en cours
              #roomsList.overflow-auto
              button.btn.btn-success.m-3(id="initGameBtn") Initier une partie
              p.text-muted Initiez une partie (cela crée une salle) ou rejoignez une salle accessible en cliquant dessus.

              #room
                h4#owner  
                table#roomPlayers.table.mt-3 
                p#msgRoom 
                #roomButtons    
                    button.btn.btn-success.m-3(type="submit", id="startGameBtn")    Démarrer   la partie
                    button.btn.btn-warning.m-3(type="submit", id="closeRoomBtn")    Fermer   la salle
                    button.btn.btn-warning.m-3(type="submit", id="leaveRoomBtn")    Quitter  la salle                     
                #quiz
                  p#word
                  p#msgAnswer           
                  form#answerForm
                      label Votre réponse 
                      input.form-control.mt-3.col-sm-3(type="text", name="answer", onfocus="this.value=''" )
                      button.btn.btn-info.mt-3.col-sm-3(type="submit", class="") Envoyer

    script(src="/socket.io/socket.io.js")
    script(src="../js/game.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous"
    )
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"
      integrity="sha256-78rSZBnBJXmJ5VGuWL8mkunvhy94g99Rw53bssjHSUk="
      crossorigin="anonymous"
    )
