<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title Jeu
        link(rel="stylesheet", href="css/style.css") 
    body

    
    footer.container
      p footer

    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous"
    )
    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"
      integrity="sha256-78rSZBnBJXmJ5VGuWL8mkunvhy94g99Rw53bssjHSUk="
      crossorigin="anonymous"
    )
    script(src="/socket.io/socket.io.js")
    script(src="../js/game.js")